run --color=yes

build --color=yes
build --copt -Og
build --copt -Wall
build --copt -Wextra
build --copt -Wpedantic
build --copt -fPIC

build --cxxopt=-std=c++2b
build --cxxopt=-stdlib=libc++

build --linkopt -lc++
build --linkopt -lc++abi
build --linkopt -lm
build --linkopt -ldl
build --linkopt -lpthread

# Use our custom-configured c++ toolchain.
build --crosstool_top=//bazel/cpp:clang_suite

build:mac --cpu=darwin_arm64

# Asan cannot be used with other sanitizers
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address

build:tsan --copt=-fsanitize=thread
build:tsan --linkopt=-fsanitize=thread


